{%extends 'base.html'%}

{%block head%}

{%endblock%}

{%block body%}
<div class="container">
    <div class="content-wrapper">
        <div class="content">
            <h1>Churn Prediction</h1>
            <form id="predictionForm" action="/predict" method="post">
                <input type="number" name="MonthlyCharges" placeholder="Enter Monthly Charges">
                <input type="number" name="TotalCharges" placeholder="Enter Total Charges">
                <input type="number" name="tenure" placeholder="Enter Tenure (Years as customer)">
                <button type="submit">Submit</button>
            </form>
            <div id="result"></div>
        </div>
    </div>
</div>

<script>
    document.getElementById('predictionForm').onsubmit = function(event) {
        event.preventDefault();
        const formData = new FormData(this);
        fetch('/predict', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('result').innerText = 'Prediction: ' + data.prediction;
        });
    };
</script>
{%endblock%}